*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html{
    height: 100%;
}
body{
    overflow: hidden;
    height: 100%;
    color: white;
    font-size: 14px;
    background-color: block;
    background-image: url("http://img5q.duitang.com/uploads/item/201210/30/20121030140854_JZm88.jpeg");
    background-size: cover;
}

input[type=text],
button{
    display: inline-block;
    height: 2rem;
    color: white;
    font-size: 1.2rem;
    box-sizing: border-box;
    z-index: 3;
}

input[type=text]{
    background: none;
    border-width: 0 0 1px 0;
    border-color: white;
}

button{
    padding: 0 0.5rem;
    color: white;
    border: 0;
    border-radius: 0.2rem;
}

.photo-box,
.barrage-box,
.control-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.barrage-box .barrage-item{
    position: absolute;
    left: 100%;
    font-size: 2rem;
    white-space: nowrap;
}

.control-box .input-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(0,0,0,0.8);
}

.input-box input{
    margin: 0.5rem 1% 0.5rem 5%;
    width: 70%;
    color: #aaa;
}
.input-box button{
    margin: 0.5rem 1%;
    box-sizing: border-box;
}
.input-box button.send{
    background-color: rgb(51, 229, 39);
}
.input-box button.send:active{
    background-color: rgb(40, 173, 31);
}
.input-box button.image{
    background-color: rgb(39, 200, 229);
}
.input-box button.image:active{
    background-color: rgb(27, 138, 158);
}
